{% extends "base.html" %}
{% block content %}
    <div class="card my-5">
        <div class="card-header fs-4 text-center py-3">Удаление записи</div>
        <div class="card-body">
            <p>Вы уверены что хотите удалить товар "{{ product.name }}" ? </p>
          <form method="post" id="delete-form">
                {% csrf_token %}
            </form>
        </div>
        <div class="card-footer text-end py-3">
            <a href="{% url 'main' %}" class="btn btn-sm btn-secondary me-2">Отмена</a>
            <button type="submit" form="delete-form" class="btn btn-sm btn-danger">Удалить</button>
        </div>
    </div>
{% endblock %}